# TODO: Unify this with the domain. It's currently only used to name
# things on New Relic.
site_name: opengovernment.org.au
opengovernment_production_mysql_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          61303430656638616337626363386435343063373337323335313433356335373131393666316339
          6565653262343836653832306330366561353035363737360a376534633633643835326665623264
          64376432653133303662626138306637353439623362653338353633303663363564663937613963
          6664656662383562360a363165663632346462386434616462666462396231663061666636396662
          37393263363232643962303239383661623965363635653835643334666236383231
admin_user: admin
admin_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36316233656433356233363964303266303433623035343031633332353931383764653935646564
          3461336431333066343662623362383638313761353464650a363038313030356138616466303666
          64333535376138623665633065323737653666313234356330386361326435336634393933343237
          3761316463346561330a613037313634323038646531326261386133653162636364353362343432
          63323362346531353962623634303963333336353961633737303536633166643663
logs:
  - file_path: /var/log/syslog
    log_group_name: /var/log/syslog
    log_stream_name: "{{ inventory_hostname }}"
    timestamp_format: "%b %d %H:%M:%S"

  - file_path: /var/log/apache2/error.log
    log_group_name: /var/log/apache2/error.log
    log_stream_name: "{{ inventory_hostname }}"
    timestamp_format: "%a %b %d %H:%M:%S.%f %Y"

  - file_path: /var/log/duply/wordpress-uploads.log
    log_group_name: /var/log/duply/wordpress-uploads.log
    log_stream_name: "{{ inventory_hostname }}"
    # No idea what the format should be otherwise
    timestamp_format: "%b %d %H:%M:%S"

  - file_path: /var/log/letsencrypt/letsencrypt.log
    log_group_name: /var/log/letsencrypt/letsencrypt.log
    log_stream_name: "{{ inventory_hostname }}"
    timestamp_format: "%Y-%m-%d %H:%M:%S"

  - file_path: /var/log/unattended-upgrades/unattended-upgrades.log
    log_group_name: /var/log/unattended-upgrades/unattended-upgrades.log
    log_stream_name: "{{ inventory_hostname }}"
    timestamp_format: "%Y-%m-%d %H:%M:%S"
