---
galaxy_info:
  author: your name
  description:
  company: your company (optional)
  # Some suggested licenses:
  # - BSD (default)
  # - MIT
  # - GPLv2
  # - GPLv3
  # - Apache
  # - CC-BY
  license: license (GPLv2, CC-BY, etc)
  min_ansible_version: 1.2
  #
  # Below are all platforms currently available. Just uncomment
  # the ones that apply to your role. If you don't see your
  # platform on this list, let us know and we'll get it added!
  #
  #platforms:
  #- name: EL
  #  versions:
  #  - all
  #  - 5
  #  - 6
  #  - 7
  #- name: GenericUNIX
  #  versions:
  #  - all
  #  - any
  #- name: Fedora
  #  versions:
  #  - all
  #  - 16
  #  - 17
  #  - 18
  #  - 19
  #  - 20
  #- name: SmartOS
  #  versions:
  #  - all
  #  - any
  #- name: opensuse
  #  versions:
  #  - all
  #  - 12.1
  #  - 12.2
  #  - 12.3
  #  - 13.1
  #  - 13.2
  #- name: Amazon
  #  versions:
  #  - all
  #  - 2013.03
  #  - 2013.09
  #- name: GenericBSD
  #  versions:
  #  - all
  #  - any
  #- name: FreeBSD
  #  versions:
  #  - all
  #  - 8.0
  #  - 8.1
  #  - 8.2
  #  - 8.3
  #  - 8.4
  #  - 9.0
  #  - 9.1
  #  - 9.1
  #  - 9.2
  #- name: Ubuntu
  #  versions:
  #  - all
  #  - lucid
  #  - maverick
  #  - natty
  #  - oneiric
  #  - precise
  #  - quantal
  #  - raring
  #  - saucy
  #  - trusty
  #- name: SLES
  #  versions:
  #  - all
  #  - 10SP3
  #  - 10SP4
  #  - 11
  #  - 11SP1
  #  - 11SP2
  #  - 11SP3
  #- name: GenericLinux
  #  versions:
  #  - all
  #  - any
  #- name: Debian
  #  versions:
  #  - all
  #  - etch
  #  - lenny
  #  - squeeze
  #  - wheezy
  #
  # Below are all categories currently available. Just as with
  # the platforms above, uncomment those that apply to your role.
  #
  #categories:
  #- cloud
  #- cloud:ec2
  #- cloud:gce
  #- cloud:rax
  #- clustering
  #- database
  #- database:nosql
  #- database:sql
  #- development
  #- monitoring
  #- networking
  #- packaging
  #- system
  #- web
dependencies:
  - role: zzet.rbenv
    rbenv:
      env: user
      version: v1.1.2
      default_ruby: "{{ ruby_version_production }}"
      rubies:
        - version: "{{ ruby_version_staging }}"
        - version: "{{ ruby_version_production }}"
    rbenv_users:
      - deploy
  # Duplicity backup disabled - replaced by restic (Dec 2025)
  # Duplicity used 311 GiB vs restic 63 GiB for same data
  # - role: oaf.backup
  #   backup_profiles:
  #     - name: righttoknow_data
  #       schedule: 0 2 * * *
  #       source: /data
  #       target: "s3://s3.amazonaws.com/oaf-backups/righttoknow/{{ inventory_hostname }}/data"
  #       exclude:
  #         - "**/bundle"
  #         - "**/cache"
  #       temp_dir: /data/backup_tmp
  #       arch_dir: /data/backup_cache
  #   when: ansible_distribution_release in ['bionic', 'jammy'] and 'righttoknow_production' in group_names

  - role: oaf.restic
    restic_profiles:
      - name: righttoknow_data
        schedule: "0 3 * * *"
        source: /data
        repository: "s3:s3.amazonaws.com/oaf-backups/righttoknow/{{ inventory_hostname }}/restic"
        password: "{{ restic_password }}"
        aws_access_key_id: "{{ backup_target_user }}"
        aws_secret_access_key: "{{ backup_target_pass }}"
        exclude:
          - "**/bundle"
          - "**/cache"
        cache_dir: /data/restic-cache
    when: ansible_distribution_release in ['bionic', 'jammy'] and 'righttoknow_production' in group_names
    tags:
      - backup
    
  - role: nickhammond.logrotate
    logrotate_scripts:
      # This is the log rotation scheme required by Alaveteli
      # See http://alaveteli.org/docs/installing/email/#logging
      - name: mail
        path: /var/log/mail/mail.log
        options:
          - rotate 30
          - daily
          - dateext
          - missingok
          - notifempty
          - compress
          - delaycompress
          - sharedscripts
          - postrotate reload rsyslog >/dev/null 2>&1 || true
          - endscript
      - name: production
        path: "/srv/www/production/shared/log/*.log"
        options:
          - daily
          - rotate 7
          - compress
          - missingok
          - copytruncate
      - name: staging
        path: "/srv/www/staging/shared/log/*.log"
        options:
          - daily
          - rotate 7
          - compress
          - missingok
          - copytruncate
