[defaults]
roles_path=roles:roles/internal:roles/external
collections_path=collections/
remote_user = root
# The default behaviour is for handlers not to get called if a playbook fails
# for any reason. Make handlers get called
force_handlers = True

# Vault password files Are NOT available for CI! Don't set vault_identity_list

inventory = inventory

[ssh_connection]
pipelining = True
