
.vagrant
.vault_pass.txt
roles/external
test.pem
set-aws-access-keys.sh
ec2-provisioning.retry
terraform/.terraform
terraform/secrets.auto.tfvars
terraform/terraform.tfstate.*
site.retry
ubuntu-xenial-16.04-cloudimg-console.log
*.retry

# These certificates are generated for each user and shouldn't be checked in
certificates/*.key
certificates/*.pem

.venv/
