[client]
port = 3306
host = {{ db_host }}

[production]
database = oa-production
password = {{ openaustralia_production_mysql_password }}

[staging]
database = oa-staging
password = {{ openaustralia_staging_mysql_password }}