---
# tasks file for base-server
- name: Ensure git is installed
  apt:
    pkg: git

# Setup timezone stuff

- name: Install tzdata package
  apt: pkg=tzdata state=present

# We have to do it like this for Ubuntu 16.04
# See https://bugs.launchpad.net/ubuntu/+source/tzdata/+bug/1554806
- name: Link to correct timezone
  file:
    src: /usr/share/zoneinfo/Australia/Sydney
    dest: /etc/localtime
    state: link
  notify: Update timezone

- name: Add apt repository for new relic
  apt_repository:
    repo: deb http://apt.newrelic.com/debian/ newrelic non-free
    filename: newrelic.list

- name: Add apt key for new relic
  apt_key:
    url: https://download.newrelic.com/548C16BF.gpg
    id: 548C16BF

- name: Install newrelic server monitor
  apt:
    pkg: newrelic-sysmond
    update_cache: yes

- name: Configure newrelic server monitor
  template:
    src: nrsysmond.cfg
    dest: /etc/newrelic

- name: Start newrelic server monitor
  service:
    name: newrelic-sysmond
    state: started
  # Only actually start the monitor in production
  when: "'ec2' in group_names"

# TODO: Add byobu and enable it by default
