---
# OpenVPN Server Configuration with IAM Authentication

- name: Install required packages
  apt:
    name:
      - openvpn
      - easy-rsa
      - python3-pip
      - jq
      - awscli
    state: present
    update_cache: yes
    cache_valid_time: 3600

- name: Install boto3 for IAM authentication
  pip:
    name: boto3
    executable: pip3
    state: present

- name: Create Easy-RSA directory
  command: make-cadir /etc/openvpn/easy-rsa
  args:
    creates: /etc/openvpn/easy-rsa

- name: Configure Easy-RSA variables
  copy:
    dest: /etc/openvpn/easy-rsa/vars
    content: |
      set_var EASYRSA_REQ_COUNTRY    "{{ openvpn_country }}"
      set_var EASYRSA_REQ_PROVINCE   "{{ openvpn_province }}"
      set_var EASYRSA_REQ_CITY       "{{ openvpn_city }}"
      set_var EASYRSA_REQ_ORG        "{{ openvpn_org }}"
      set_var EASYRSA_REQ_EMAIL      "{{ openvpn_email }}"
      set_var EASYRSA_REQ_OU         "{{ openvpn_ou }}"
      set_var EASYRSA_KEY_SIZE       {{ openvpn_key_size }}
      set_var EASYRSA_CA_EXPIRE      {{ openvpn_ca_expire }}
      set_var EASYRSA_CERT_EXPIRE    {{ openvpn_cert_expire }}
    mode: '0644'

- name: Initialize PKI
  command: ./easyrsa init-pki
  args:
    chdir: /etc/openvpn/easy-rsa
    creates: /etc/openvpn/easy-rsa/pki

- name: Build CA
  command: ./easyrsa --batch build-ca nopass
  args:
    chdir: /etc/openvpn/easy-rsa
    creates: /etc/openvpn/easy-rsa/pki/ca.crt

- name: Generate DH parameters
  command: ./easyrsa gen-dh
  args:
    chdir: /etc/openvpn/easy-rsa
    creates: /etc/openvpn/easy-rsa/pki/dh.pem

- name: Build server certificate
  command: ./easyrsa build-server-full server nopass
  args:
    chdir: /etc/openvpn/easy-rsa
    creates: /etc/openvpn/easy-rsa/pki/issued/server.crt

- name: Generate TLS auth key
  command: openvpn --genkey secret /etc/openvpn/ta.key
  args:
    creates: /etc/openvpn/ta.key

- name: Copy certificates to OpenVPN directory
  copy:
    src: "/etc/openvpn/easy-rsa/pki/{{ item.src }}"
    dest: "/etc/openvpn/{{ item.dest }}"
    remote_src: yes
    mode: "{{ item.mode }}"
  loop:
    - { src: 'ca.crt', dest: 'ca.crt', mode: '0644' }
    - { src: 'issued/server.crt', dest: 'server.crt', mode: '0644' }
    - { src: 'private/server.key', dest: 'server.key', mode: '0600' }
    - { src: 'dh.pem', dest: 'dh.pem', mode: '0644' }

- name: Get EC2 instance metadata (private IP)
  uri:
    url: http://169.254.169.254/latest/meta-data/local-ipv4
    return_content: yes
  register: ec2_private_ip

- name: Create OpenVPN server configuration
  template:
    src: server.conf.j2
    dest: /etc/openvpn/server.conf
    mode: '0644'
  notify: restart openvpn

- name: Create PAM configuration for OpenVPN
  copy:
    dest: /etc/pam.d/openvpn
    content: |
      # Pass the username/password (signed SigV4 blob) to the helper via $PAM_AUTHTOK
      auth   required pam_exec.so expose_authtok seteuid /usr/local/bin/openvpn-iam-auth.sh
      account required pam_permit.so
    mode: '0644'

- name: Create IAM authentication script
  template:
    src: openvpn-iam-auth.sh.j2
    dest: /usr/local/bin/openvpn-iam-auth.sh
    mode: '0755'

- name: Enable IP forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: yes

- name: Get default network interface
  shell: ip route | grep default | awk '{print $5}'
  register: default_interface
  changed_when: false

- name: Configure NAT for VPN clients
  iptables:
    table: nat
    chain: POSTROUTING
    source: "{{ openvpn_client_network }}"
    out_interface: "{{ default_interface.stdout }}"
    jump: MASQUERADE

- name: Install iptables-persistent
  apt:
    name: iptables-persistent
    state: present

- name: Save iptables rules
  shell: iptables-save > /etc/iptables/rules.v4
  changed_when: false

- name: Enable and start OpenVPN service
  systemd:
    name: openvpn@server
    enabled: yes
    state: started

- name: Create client configuration template
  template:
    src: client-template.ovpn.j2
    dest: /root/client-template.ovpn
    mode: '0600'
