---

- include_vars: "{{ansible_distribution}}.yml"

- name: Install dependencies (Ubuntu 18.04 and earlier)
  apt: name={{item}}
  with_items:
  - cron
  - gzip
  - python-boto
  - s3cmd
  when: ansible_distribution_release not in ['focal', 'jammy']

- name: Install dependencies (Ubuntu 20.04 and 22.04)
  apt: name={{item}}
  with_items:
  - cron
  - gzip
  - python3-boto3
  - s3cmd
  when: ansible_distribution_release in ['focal', 'jammy']

- set_fact: backup_duplicity_pkg="{{backup_duplicity_pkg}}={{backup_duplicity_version}}"
  when: backup_duplicity_version

- name: Install duplicity
  apt: pkg={{backup_duplicity_pkg}}
