---
dependencies:
  - role: abtris.nginx-passenger
  - role: rvm.ruby
    # TODO: How do we get it to use what's in the .ruby-version file?
    # Last listed ruby here is the default one
    rvm1_rubies:
      - ruby-2.5.8
    rvm1_install_flags: '--auto-dotfiles'      # Remove --user-install from defaults
    rvm1_install_path: /usr/local/rvm          # Set to system location
    rvm1_user: root                            # Need root account to access system location
    # Use round-robin pool of gpg key servers to avoid timeout
    rvm1_gpg_key_server: 'hkp://pool.sks-keyservers.net'
  - role: nickhammond.logrotate
    logrotate_scripts:
      - name: production
        path: "/srv/www/production/shared/log/*.log"
        options:
          - daily
          - rotate 7
          - compress
          - missingok
          - copytruncate
      - name: staging
        path: "/srv/www/staging/shared/log/*.log"
        options:
          - daily
          - rotate 7
          - compress
          - missingok
          - copytruncate
  - role: geerlingguy.elasticsearch
    elasticsearch_bind_host: 127.0.0.1
    elasticsearch_version: 2.4.6
