[Unit]
Description=Alaveteli foi-alert-tracks daemon ({{ stage }})
After=syslog.target network.target

[Service]
Type=simple
User=deploy
Group=deploy
WorkingDirectory=/srv/www/{{ stage }}/current

Environment=PATH=/home/deploy/.rbenv/shims:/usr/local/bin:/usr/bin:/bin
Environment=RAILS_ENV=production

ExecStart=/srv/www/{{ stage }}/current/script/runner TrackMailer.alert_tracks_loop
StandardOutput=append:/srv/www/{{ stage }}/shared/log/foi-alert-tracks.log
StandardError=inherit

Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
