---
- name: Download awslogs agent
  get_url:
    url: https://s3.amazonaws.com/aws-cloudwatch/downloads/latest/awslogs-agent-setup.py
    dest: /tmp/awslogs-agent-setup.py
  when: "'ec2' in group_names"

- name: Configure awslogs agent
  template:
    src: awslogs.conf
    dest: /tmp/awslogs.conf
  when: "'ec2' in group_names"

- name: Install awslogs agent
  shell: "python /tmp/awslogs-agent-setup.py --region {{ ec2_region }} -n -c /tmp/awslogs.conf"
  args:
    creates: /etc/init.d/awslogs
  when: "'ec2' in group_names"

- name: Disable old log agent
  service:
    name: awslogs
    enabled: no
    state: stopped
  when: "'ec2' in group_names"
