services:
  metabase:
    image: metabase/metabase:v0.46.6.4
    # Using 8000 as the port on the host to be consistent with planningalerts
    ports:
      - 8000:3000
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: metabase
      MB_DB_PASS: {{ db_password }}
      MB_DB_HOST: {{ postgresql_host }}
    restart: always